{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "trailingComma": "all",
  "importOrder": ["^[a-z]", "^@", "^[./]"],
  "importOrderSeparation": true
}
